<div
  class="w-[50%] mr-auto ml-auto top-[50px] relative border-[1px] border-solid h-[100px] border-custom-grey"
>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <textarea
      formControlName="text"
      type="text"
      (keydown.enter)="onEnterKeyPress($event)"
      class="bg-black grid-rows-6 break-words overflow-hidden resize-none relative text-white h-[95px] ml-[10px] text-xl w-[80%] outline-none"
      placeholder="What is on your mind?!"
    ></textarea>

    <button
      class="text-white duration-300 absolute rounded-3xl w-[10%] hover:bg-custom-grey bottom-0 right-0 float-right"
    >
      Submit
    </button>
  </form>
</div>
