<ng-container *ngIf="data$ | async as data">
  <ng-container *ngIf="data.currentUser">
    <div
      class="w-[20%] fixed h-[100%] border-l-[1px] right-0 border-solid border-custom-grey"
    >
      <h2 class="text-white text-xl text-center font-bold mt-[50px]">
        Welcome, {{ data.currentUser.username }}
      </h2>
      <div
        class="w-[50%] text-center h-[100%] m-auto border-dotted border-slate-300"
      >
        <div class="mt-[50px]">
          <li
          class="text-white duration-300 text-2xl  list-none mb-[20px] inline-block w-[94%] pl-[5px] hover:bg-custom-grey rounded-3xl"
        >
          <a routerLink="/">
            <fa-icon
              [styles]="{stroke: 'white', color: 'white'}"
              [icon]="inboxIcon"
              class="mr-[14px]"
            ></fa-icon>
            <div class="inline-block mr-[30px]">Inbox</div></a
          >
        </li>
          <li
            class="text-white duration-300 text-2xl list-none mb-[20px] w-[94%] pl-[5px] hover:bg-custom-grey rounded-3xl"
          >
            <a routerLink="/">
              <fa-icon
                [styles]="{stroke: 'white', color: 'white'}"
                [icon]="friendsIcon"
                class="mr-[10px]"
              ></fa-icon
              >Friends</a
            >
          </li>
         
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="data.currentUser === undefined"> </ng-container>
</ng-container>
