<ng-container *ngIf="data$ | async as data">
  <ng-container *ngIf="data.currentUser">
    <div
      class="h-[100%] w-[20%] fixed border-r-[1px] border-solid border-custom-grey"
    >
      <h2 class="text-white text-2xl text-center font-bold mt-[50px]">
        <a routerLink="/"> Social Network</a>
      </h2>
      <div
        class="w-[50%] text-center h-[100%] m-auto border-dotted border-slate-300"
      >
        <div class="mt-[50px]">
          <li
            class="text-white duration-300 text-2xl list-none mb-[20px] w-[90%] pl-[5px] hover:bg-custom-grey rounded-3xl"
          >
            <a routerLink="/">
              <fa-icon
                [styles]="{stroke: 'white', color: 'white'}"
                [icon]="homeIcon"
                class="mr-[10px]"
              ></fa-icon
              >Home</a
            >
          </li>
          <li
            class="text-white text-2xl duration-300 rounded-3xl list-none mb-[20px] w-[90%] pl-[5px] hover:bg-custom-grey"
          >
            <a routerLink="/profile">
              <fa-icon
                [styles]="{stroke: 'white', color: 'white'}"
                [icon]="userIcon"
                class="mr-[14px]"
              ></fa-icon
              >Profile</a
            >
          </li>

          <li
            class="text-white text-2xl duration-300 rounded-3xl list-none mb-[20px] w-[90%] pl-[5px] hover:bg-custom-grey"
          >
            <a routerLink="/">
              <fa-icon
                [styles]="{stroke: 'white', color: 'white'}"
                [icon]="savedIcon"
                class="mr-[14px]"
              ></fa-icon
              >Saved</a
            >
          </li>

          <li
            class="text-white text-2xl duration-300 rounded-3xl list-none mb-[20px] mt-[250%] w-[100%] pl-[5px] hover:bg-custom-grey"
          >
            <button (click)="logout()">
              <fa-icon
                [styles]="{stroke: 'white', color: 'white'}"
                [icon]="logoutIcon"
                class="mr-[14px]"
              ></fa-icon
              >Log Out
            </button>
          </li>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="data.currentUser === undefined">
    <h1 class="text-white">
      have an account ? log in <a routerLink="/login">here</a>
    </h1>
  </ng-container>
</ng-container>

<!-- <div
      class="w-[20%] fixed h-[100%] border-r-[1px] border-solid border-slate-300"
    >
      <h2
        class="text-center font-bold text-white w-[100%] absolute top-[50px] text-xl"
      >
        Social Network
      </h2>
      <nav class="flex flex-col items-center absolute w-[100%] top-[100px]">
        <a routerLink="/" class="text-white relative ">
          <fa-icon
            [styles]="{stroke: 'white', color: 'white'}"
            [icon]="homeIcon"
            class="absolute right-[50px] bottom-[2px]"
          ></fa-icon
          >Home</a
        >
        <a routerLink="/" class="text-white ">
          <fa-icon
            [styles]="{stroke: 'white', color: 'white'}"
            [icon]="icon2"
            class="absolute right-[50px] bottom-[2px]"
          ></fa-icon
          >Homee</a
        >
        <a routerLink="/" class="text-white">Home</a>
        <a routerLink="/" class="text-white">Home</a> 
      </nav>
    </div> -->
