<ng-container *ngIf="data$ | async as data">
  <nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-9"
    >
      <div class="icon-bar">
        <fa-icon [icon]="home" style="color: white" class=""></fa-icon>

        <i class="fa fa-home"></i>

        <a href="#"><i class="fa fa-envelope"></i></a>
        <a href="#"><i class="fa fa-globe"></i></a>
        <a href="#"><i class="fa fa-trash"></i></a>
      </div>
    </div>
  </nav>
</ng-container>
