<ng-container *ngIf="data$ | async as data">
  <ng-container *ngIf="data.currentUser">
    <!-- <div
      class="w-[50%] mr-auto ml-auto top-[50px] relative border-[1px] border-solid h-[50px] border-custom-grey"
    >
      <input
        type="text"
        class="bg-black text-white h-[100%] text-xl w-[100%] outline-none"
        placeholder="What is on your mind?"
      />
    </div> -->
    <mc-create-status></mc-create-status>
    <div class="w-[50%] mr-auto ml-auto relative top-[80px] h-[100%]">
      <div *ngIf="data.feed">
        <div *ngFor="let item of data.feed.feed">
          <div
            class="text-white border-b border-custom-grey block mb-[5px] relative"
          >
            <span class="font-medium text-[18px] block mb-[5px]"
              >{{ item.username }}:</span
            >
            <span>{{ item.text }}</span>
            <button class="absolute  left-[95%] top-0">
              <fa-icon
                [styles]="{stroke: 'white', color: 'white'}"
                [icon]="heartIcon"
              ></fa-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
