<ng-container *ngIf="data$ | async as data">
  <div
    class="border-neutral-950 shadow-xl overflow-hidden rounded-3xl bg-white absolute inset-0 mx-auto my-auto w-[400px] h-[400px]"
  >
    <div class="relative h-[50px] mt-[20%]">
      <h1 class="text-center relative mt-[5%] text-2xl font-bold">
        Sign in to Social Network
      </h1>
      <form
        class="text-center relative mt-[5%]"
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
      >
        <label class="font-bold">E-Mail:</label><br />
        <input
          class="bg-slate-100 rounded-3xl pl-2 pr-2"
          type="text"
          placeholder="E-Mail"
          formControlName="email"
        /><br />
        <label class="font-bold">Password:</label><br />
        <input
          class="bg-slate-100 rounded-3xl pl-2 pr-2"
          type="password"
          placeholder="Password"
          formControlName="password"
        /><br />

        <button
          class="bg-slate-100 rounded-2xl relative mt-[3%] w-[20%] text-center"
        >
          Sign in
        </button>
      </form>
    </div>

    <mc-backend-error-messages
      class="text-red-600 text-center relative top-[170px]"
      *ngIf="data.backendErrors"
      [backendErrors]="data.backendErrors"
    ></mc-backend-error-messages>
    <div class="text-black text-center absolute top-[85%] left-[18%]">
      Don't have an account? Sign up <a routerLink="/register">here!</a>
    </div>
  </div>
</ng-container>
